nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #050e1b;
    padding: 10px 0px;
    width: 100vw;
}

nav a{
    text-decoration: none;
    color: #111;
}


nav p{
    padding: 10px 40px;
    background-color: rgb(103, 118, 145);
    border-radius: 10px;
    transition: 0.1s ease-in-out;
    color: white;
    text-decoration: none;
}

nav p:hover{
    cursor: pointer;
    background-color: rgb(95, 63, 19);
}

@media only screen and (max-width: 425px) {
   nav p{
    padding: 5px 10px;
   }
}